.mainUI {
  display: flex;
  height: auto;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
}
.leftSide {
  width: 20%;
  height: 100%;
}
.rightSide {
  width: 80%;
  height: 100%;
}

.Header {
  text-align: center;
}
.content {
  text-align: center;
}
.Footer {
  text-align: center;
}
.Slider {
  color: orange;
  text-align: center;
}
